.background-image-class {
    background-image: url('../public/img/background2.avif'); /* Replace 'your-image-url.jpg' with the actual image URL */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; /* 100% of the viewport height */
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bg-primary {
    background-color: blue; /* Replace 'blue' with your desired blue color */
  }